<!DOCTYPE html>

<html lang="en">
<link rel="stylesheet" href="/css/sell/list.css">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>
<!--phần đầu-->
<nav class="navbar navbar-expand-sm bg-light navbar-light sticky-top" id="quay">
    <div class="container-fluid" style="position:fixed ;background: #cfc3b7;width:100%; height: 80px">
        <div class="row" style="width: 100%">
            <!--    phần ảnh tải lại trang-->
            <div class="col-sm-1">
                <a th:href="@{/sell/home}">
                    <img src="/img/sell/logo.jpg" height="70" width="60"></a>
            </div>
            <!--        tìm kiếm-->
            <div class="col-sm-4">
                <form action="/sell/home" style="position: absolute;top: 20px" class="form-inline my-2 my-lg-0">
                    <input type="text" style="color: hotpink; border: hotpink" class="form-control"
                           placeholder="Tìm sản phẩm" aria-label="Search" name="search">
                    <button type="submit" class="btn btn-outline-danger"><i class="fa fa-search">Tìm kiếm</i></button>
                </form>
            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-2">
                <li class="nav-item dropdown" style="position: absolute;top: 20px">
                    <a class="nav-link" href="#" id="navbarDropdown">
                        <div class="btn btn-light">Quản lý</div>
                    </a>
                    <div class="dropdown-content">
                        <a class="dropdown-item" href="#"><i><img
                                src="https://cf.shopee.vn/file/c861c10e455548e6843428c0e2d771fd"></i>Vận chuyển</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/sell/order-confirm"><i><img
                                src="https://cf.shopee.vn/file/f82f8ccb649afcdf4f07f1dd9c41bcb0"></i>Quản lý đơn
                            hàng</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/sell/list-product"><i><img
                                src="https://cf.shopee.vn/file/3fa3bdb20eb201ae3f157ee8d11a39d5"></i>Quản lý sản
                            phẩm</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/sell/product-statistics"><i><img
                                src="https://cf.shopee.vn/file/09759afab8ae066ca5e1630bc19133a1"></i>Dữ liệu</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i><img
                                src="https://cf.shopee.vn/file/2f9d62dd7e037c22608ac75dfb84a409"></i>Kênh Marketing</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i><img
                                src="https://cf.shopee.vn/file/f9e8756bcf783fe1783bf59577fdb263"></i>Tài chính</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </div>

            <div class="col-sm-1">
                <div class="dropdown">
                    <a  data-toggle="dropdown" id="b">
                        <img id="a" th:src="@{'/img/sell/'+${seller.avatar}}">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" id="c">

                        <a class="dropdown-item" href="/"
                           role="menuitem"><i
                                class="icon fa fa-tachometer fa-fw iconsmall" aria-hidden="true"
                                title="Nhà của tôi"></i>Trang mua hàng</a>
                        <div class="dropdown-divider" role="presentation"></div>
                        <a class="dropdown-item" href="/sell/seller"
                           role="menuitem"><i class="icon fa fa-user fa-fw iconsmall" aria-hidden="true"
                                              title="Hồ sơ"></i>Thông tin cá nhân</a>
                        <a class="dropdown-item"
                           href="/sell/seller"
                           role="menuitem"><i
                                class="icon fa fa-table fa-fw iconsmall" aria-hidden="true"
                                title="Điểm"></i>Điểm</a>
                        <a class="dropdown-item"
                           href="https://james.codegym.vn/message/index.php"
                           role="menuitem"><i
                                class="icon fa fa-comment fa-fw iconsmall" aria-hidden="true" title="Tin nhắn"></i>Tin
                            nhắn</a><a class="dropdown-item" href="https://james.codegym.vn/user/preferences.php"
                                        role="menuitem"><i class="icon fa fa-wrench fa-fw iconsmall"
                                                           aria-hidden="true" title="Tuỳ chọn"></i>Tuỳ chọn</a>
                        <div class="dropdown-divider" role="presentation"></div>
                        <a class="dropdown-item" href="/sell/logout"
                        ><i class="icon fa fa-sign-out fa-fw iconsmall" aria-hidden="true"
                            title="Thoát"></i>Thoát</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<br>
<!--theem-->

<h3>
    <a href="/sell/add-product" data-toggle="modal" data-target="#exampleModalCenter"> Đăng sản phẩm</a></h3>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="position: relative;top: 200px">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container">
                    <form th:action="@{/sell/add-product}" method="post" th:object="${p}" id="usrform1">
                        <div class="form-group">
                            <label>Tên sản phẩm</label>
                            <input type="text" class="form-control" th:field="*{name}" placeholder="Nhập tên sản phẩm">
                        </div>

                        <div class="form-group">
                            <label>Giá</label>
                            <input type="number" class="form-control" th:field="*{price}" placeholder="Nhập giá">
                        </div>

                        <div class="form-group">
                            <label>Số lượng</label>
                            <input type="number" class="form-control" th:field="*{quantity}"
                                   placeholder="Nhập số lượng">
                        </div>

                        <div class="form-group">
                            <label>Giảm giá</label>
                            <input type="number" class="form-control" th:field="*{discount}"
                                   placeholder="giảm giá">
                        </div>

                        <div class="form-group">
                            <label>Loại</label>
                            <select th:field="*{category}">
                                <option th:each="c : ${categorys}" th:value="${c.id}" th:text="${c.name}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Mô tả</label>
                            <textarea placeholder="Thêm mô tả" class="form-control" th:field="*{description}">
                          </textarea>
                        </div>

                        <div class="form-group">
                            <label>chọn ảnh</label>
                            <div>
                                <input class="input-file" type="file" name="add-file">
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">ADD</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h3> Sản phẩm hiện đang bán</h3>
    <div class="well well-sm text-left">
        <span>
            <a th:href="@{/sell/home}" class="btn btn-small btn-primary" data-toggle="portfilter"
               data-target="all">Tất cả</a>
        </span>
        <span th:each="c:${categorys}">
            <a th:href="@{/sell/divide/__${c.id}__}" class="btn btn-small btn-primary" data-toggle="portfilter"
               data-target="all" th:text="${c.name}"> </a>
        </span>
    </div>
    <div id="products" class="row">
        <div th:each="product:${products}" class="item  col-xs-4 col-lg-3" data-tag="style1"
             style="height: 485px;width: 260px">
            <div class="thumbnail">
                <img class="group list-group-image"
                     th:src="@{'/img/sell/'+${product.image}}"
                     style="width: 200px;height: 230px">
                <div class="caption">
                    <!--                    noi dung-->

                    <div style=" width: 200px;height: 150px">
                        <br>
                        <center><h4 class="group inner list-group-item-heading"><b th:text="${product.name}"></b></h4>
                        </center>
                        <p>Giá đang bán:
                            <b class="group inner list-group-item-text" th:text="${product.price}"></b></p>
                        <p>Giá đang bán:
                            <b class="group inner list-group-item-text" th:text="${product.price}"></b></p>
                        <p>Giá đang bán:
                            <b class="group inner list-group-item-text" th:text="${product.price}"></b></p>


                    </div>
                    <!--                    chỉnh sủa-->
                    <div class="row" style="200px;height: 50px">
                        <div class="col-lg-6">
                            <button type="button" data-toggle="modal"
                                    class="btn btn-outline-success" th:data-target="'#'+${product.id}"><b>Chỉnh
                                sửa</b>
                            </button>
                            <div class="modal fade" th:id="${product.id}" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document"
                                     style="position: relative;top: 150px">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <div class="container">
                                                <h2>Chỉnh sửa thông tin</h2>
                                                <form action="/sell/edit-product" method="post">
                                                    <label>Tên</label>
                                                    <input type="text" class="form-control" name="name"
                                                           th:value="${product.name}">

                                                    <label>Giá</label>
                                                    <input type="number" class="form-control" name="price"
                                                           th:value="${product.price}">

                                                    <label>Số lượng</label>
                                                    <input type="number" class="form-control" name="quantity"
                                                           th:value="${product.quantity}">

                                                    <label>Giảm giá</label>
                                                    <input type="number" class="form-control" name="discount"
                                                           th:value="${product.discount}">

                                                    <label>Loại</label>
                                                    <select name="category">
                                                        <option th:each="c : ${categorys}" th:value="${c.id}"
                                                                th:text="${c.name}"></option>
                                                    </select>
                                                    <br>
                                                    <label>Mô tả</label>
                                                    <input type="text" placeholder="Thêm mô tả" class="form-control"
                                                           name="description"
                                                           th:value="${product.description}">
                                                    <label>Chọn ảnh mới</label>
                                                    <div>
                                                        <input class="input-file" type="file" name="image">
                                                    </div>
                                                    <div style="display: none">
                                                        <label>ẩn</label>
                                                        <input type="text" class="form-control" name="id"
                                                               th:value="${product.id}">
                                                    </div>
                                                    <div class="modal-footer">
                                                        <input type="submit" class="btn btn-primary" value="Update">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6" style="position: relative;right: 15px">
                            <button type="button" class="btn btn-outline-success" data-toggle="modal"
                                    th:data-target="'#ab'+${product.id}"><b>Ngừng bán</b></button>
                            <div class="modal fade" th:id="'ab'+${product.id}" tabindex="-1"
                                 role="dialog"
                                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document"
                                     style="position: relative;top: 20px">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <div class="container">
                                                <h2>Bạn đã chắc chứa?</h2>
                                                <form method="post" action="/sell/delete">
                                                    <div style="display: none">
                                                        <label>ẩn</label>
                                                        <input type="text" class="form-control" name="id"
                                                               th:value="${product.id}">
                                                    </div>
                                                    <p>Tên:<b th:text="${product.name}"></b></p>
                                                    <p>Giá:<b th:text="${product.price}"></b></p>
                                                    <p>Thể loại:<b th:text="${product.category.name}"></b></p>
                                                    <br>
                                                    <div class="modal-footer">
                                                        <input type="submit" value="Ngừng bán">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                Đóng
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="center ">
    <nav aria-label="...">
        <ul class="pagination" th:unless="${divide_id}">
            <li th:if="${products.hasPrevious()}" class="page-item">
                <a class="page-link"
                   th:href="@{'/sell/home'(page=${products.number - 1}, search=${search})}"><b>Trang trước</b></a>
            </li>
            <li th:if="${!products.hasPrevious()}" class="page-item disabled">
                <a class="page-link">Trang trước</a>
            </li>

            <li class="page-item active">
      <span class="page-link" th:text="${products.number + 1}+'/'+${products.totalPages}">
        <span class="sr-only">(current)</span>
      </span>
            </li>

            <li th:if="${products.hasNext()}" class="page-item">
                <a class="page-link" th:href="@{'/sell/home'(page=${products.number + 1},search=${search})}"><b>Trang
                    sau</b></a>
            </li>
            <li th:if="${!products.hasNext()}" class="page-item disabled">
                <a class="page-link">Trang sau</a>
            </li>
        </ul>
        <ul class="pagination" th:if="${divide_id}">
            <li th:if="${products.hasPrevious()}" class="page-item">
                <a class="page-link"
                   th:href="@{/sell/divide/{id}/(id=${divide_id},page=${products.number - 1})}"><b>Trang trước</b></a>
            </li>
            <li th:if="${!products.hasPrevious()}" class="page-item disabled">
                <a class="page-link">Trang trước</a>
            </li>

            <li class="page-item active">
              <span class="page-link" th:text="${products.number + 1}+'/'+${products.totalPages}">
                <span class="sr-only">(current)</span>
              </span>
            </li>

            <li th:if="${products.hasNext()}" class="page-item">
                <a class="page-link"
                   th:href="@{/sell/divide/{id}/(id=${divide_id},page=${products.number + 1})}"><b>Trang sau</b></a>
            </li>
            <li th:if="${!products.hasNext()}" class="page-item disabled">
                <a class="page-link">Trang sau</a>
            </li>
        </ul>
    </nav>
</div>
<div id="back-to-top" class="back-to-top">
    <button onclick="window.location.href='#quay';" class="btn btn-dark" title="Back to Top"
            style="display: block;">
        <i class="fa fa-angle-up"></i>
    </button>
</div>
<footer id="dk-footer" class="dk-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-4">
                <div class="dk-footer-box-info">
                    <a href="index.html" class="footer-logo">
                        <img src="https://cdn.pixabay.com/photo/2016/11/07/13/04/yoga-1805784_960_720.png"
                             alt="footer_logo" class="img-fluid">
                    </a>
                    <p class="footer-info-text" id="p">
                        Reference site about Lorem Ipsum, giving information on its origins, as well as a random
                        Lipsum
                        generator.
                    </p>
                    <div class="footer-social-link">
                        <h3>Follow us</h3>
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Social link -->
                </div>
                <!-- End Footer info -->
                <div class="footer-awarad">
                    <img src="images/icon/best.png" alt="">
                    <p class="p">Best Design Company 2019</p>
                </div>
            </div>
            <!-- End Col -->
            <div class="col-md-12 col-lg-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="contact-us">
                            <div class="contact-icon">
                                <i class="fa fa-map-o" aria-hidden="true"></i>
                            </div>
                            <!-- End contact Icon -->
                            <div class="contact-info">
                                <h3>Jaipur India</h3>
                                <p class="p">5353 Road Avenue</p>
                            </div>
                            <!-- End Contact Info -->
                        </div>
                        <!-- End Contact Us -->
                    </div>
                    <!-- End Col -->
                    <div class="col-md-6">
                        <div class="contact-us contact-us-last">
                            <div class="contact-icon">
                                <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                            </div>
                            <!-- End contact Icon -->
                            <div class="contact-info">
                                <h3>95 711 9 5353</h3>
                                <p class="p">Give us a call</p>
                            </div>
                            <!-- End Contact Info -->
                        </div>
                        <!-- End Contact Us -->
                    </div>
                    <!-- End Col -->
                </div>
                <!-- End Contact Row -->
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div class="footer-widget footer-left-widget">
                            <div class="section-heading">
                                <h3>Useful Links</h3>
                                <span class="animate-border border-black"></span>
                            </div>
                            <ul>
                                <li>
                                    <a href="#">About us</a>
                                </li>
                                <li>
                                    <a href="#">Services</a>
                                </li>
                                <li>
                                    <a href="#">Projects</a>
                                </li>
                                <li>
                                    <a href="#">Our Team</a>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <a href="#">Contact us</a>
                                </li>
                                <li>
                                    <a href="#">Blog</a>
                                </li>
                                <li>
                                    <a href="#">Testimonials</a>
                                </li>
                                <li>
                                    <a href="#">Faq</a>
                                </li>
                            </ul>
                        </div>
                        <!-- End Footer Widget -->
                    </div>
                    <!-- End col -->
                    <div class="col-md-12 col-lg-6">
                        <div class="footer-widget">
                            <div class="section-heading">
                                <h3>Subscribe</h3>
                                <span class="animate-border border-black"></span>
                            </div>
                            <p class="p"><!-- Don’t miss to subscribe to our new feeds, kindly fill the form below. -->
                                Reference site about Lorem Ipsum, giving information on its origins, as well.</p>
                            <form action="#">
                                <div class="form-row">
                                    <div class="col dk-footer-form">
                                        <input type="email" class="form-control" placeholder="Email Address">
                                        <button type="submit">
                                            <i class="fa fa-send"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <!-- End form -->
                        </div>
                        <!-- End footer widget -->
                    </div>
                    <!-- End Col -->
                </div>
                <!-- End Row -->
            </div>
            <!-- End Col -->
        </div>
        <!-- End Widget Row -->
    </div>
    <!-- End Contact Container -->


    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span>Copyright © 2019, All Right Reserved Seobin</span>
                </div>
                <!-- End Col -->
                <div class="col-md-6">
                    <div class="copyright-menu">
                        <ul>
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">Terms</a>
                            </li>
                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End col -->
            </div>
        </div>
    </div>
</footer>
</body>
</html>