<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/sell/logup.css">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome To Registration Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="m">
    <span onclick="login()" class="c" title="Close Modal">Quay lại;</span>
    <div class="modaldcontent">
        <form th:action="@{/sell/check-logup}" method="post" th:object="${seller}" onsubmit="return(validate());">

            <h1>Đăng kí</h1>
            <p>Vui lòng điền vào biểu mẫu này để tạo tài khoản.</p>
            <hr>

            <label><b>Họ tên</b></label>
            <div class="row">
                <div class="col-sm-6">
                    <input type="text" class="a" placeholder="Nhập họ tên" th:field="*{name}" onkeyup="validationName()"
                           id="t1" required>
                </div>
                <div class="col-sm-6">
                    <p class="n"><b id="vali-name"></b></p>
                </div>
            </div>

            <label><b>Địa chỉ</b></label>
            <div class="row">
                <div class="col-sm-6">
                    <input type="text" placeholder="Nhập địa chỉ" th:field="*{address}" onkeyup="validationAddress()"
                           id="t2" required>
                </div>
                <div class="col-sm-6">
                    <p class="n"><b id="vali-address"></b></p>
                </div>
            </div>

            <label><b>Số điện thoại</b></label>
            <div class="row">
                <div class="col-sm-6">
                    <input type="text" placeholder="Nhập số điện thoại" th:field="*{phoneNumber}"
                           onkeyup="validationPhone()" id="t3" required>
                </div>
                <div class="col-sm-6">
                    <p class="n"><b id="vali-phone"></b></p>
                </div>
            </div>

            <label><b>Tên tài khoản</b></label>
            <div class="row">
                <div class="col-sm-6">
                    <input type="text" placeholder="Tên tài khoản" th:field="*{account}" onkeyup="validationAccount()"
                           id="t4" required>
                </div>
                <div class="col-sm-6">
                    <p class="n"><b id="vali-account" th:if="${messenger}" th:text="${messenger}"></b></p>
                </div>
            </div>

            <label><b>Mật khẩu</b></label>
            <div class="row">
                <div class="col-sm-6">
                    <input type="password" placeholder="Nhập mật khẩu"
                           onkeyup="validationPassword()" id="t5" required>
                </div>
                <div class="col-sm-6">
                    <p class="n"><b id="vali-password"></b></p>
                </div>
            </div>
            <label><b>Nhập lại mật khẩu</b></label>
            <div class="row">
                <div class="col-sm-6">
                    <input type="password" th:field="*{password}" placeholder="Nhập lại mật khẩu" id="t6" onkeyup="validationPassword2()"
                           required>
                </div>
                <div class="col-sm-6">
                    <p class="n"><b id="vali-password-2"></b></p>
                </div>
            </div>

            <br>

            <div class="clearfix">
                <button type="button" onclick="login()" class="cancelbtn">Quay lại</button>
                <button type="submit" class="signupbtn" onclick="registration()">Đăng kí</button>
            </div>

        </form>
    </div>
</div>
<script language="javascript">
    function login() {
        location.assign("/sell/login");
    };
    const isVNPhoneMobile = /^(0|\+84)(\s|\.)?((3[2-9])|(5[689])|(7[06-9])|(8[1-689])|(9[0-46-9]))(\d)(\s|\.)?(\d{3})(\s|\.)?(\d{3})$/;
    const isStrongPassword = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*]).{8,}$/;

    function validationPhone() {
        var input = document.getElementById("t3").value;

        if (isVNPhoneMobile.test(input) == true) {
            document.getElementById("vali-phone").innerHTML = " ";
            return true;
        }
        if (isVNPhoneMobile.test(input) == false && input.length >= 1) {
            document.getElementById("vali-phone").innerHTML = "Không thoả mãn";
            return false;
        }
        if (input.length < 1) {
            document.getElementById("vali-phone").innerHTML = "Bắt buộc!";
            return false;
        }
    }

    function validationPassword() {
        var input = document.getElementById("t5").value;
        if (isStrongPassword.test(input) == true) {
            document.getElementById("vali-password").innerHTML = "Mật khẩu mạnh";
            return true;
        }
        if (isStrongPassword.test(input) == false && input.length >= 1) {
            if (input.length >= 1 && input.length <= 4) {
                document.getElementById("vali-password").innerHTML = "Mật khẩu cực yếu";
                return true;
            }
            if (input.length > 4 && input.length <= 6) {
                document.getElementById("vali-password").innerHTML = "Mật khẩu yếu";
                return true;
            }
            if (input.length > 6 && input.length <= 8) {
                document.getElementById("vali-password").innerHTML = "Mật khẩu trung bình";
                return true;
            }

        }
        if (input.length < 1) {
            document.getElementById("vali-password").innerHTML = "Bắt buộc!";
            return false;
        }
    }

    function validationPassword2() {
        var input = document.getElementById("t6").value;
        var input2 = document.getElementById("t5").value;
        if (input == input2 && input2.length >= 1) {
            document.getElementById("vali-password-2").innerHTML = "Thoả mãn";
            return true;

        } else {
            document.getElementById("vali-password-2").innerHTML = "Mật khẩu không khớp";
            return false;
        }

    }

    function validationAddress() {
        var input = document.getElementById("t2").value;
        if (input.length < 1) {
            document.getElementById("vali-address").innerHTML = "Bắt buộc!";
            return false;
        } else {
            document.getElementById("vali-address").innerHTML = " ";
            return true;

        }
    }

    function removeAscent(str) {
        if (str === null || str === undefined) return str;
        str = str.toLowerCase();
        str = str.replace(/à|á| |ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a");
        str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e");
        str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");
        str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, "o");
        str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u");
        str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
        str = str.replace(/đ/g, "d");
        return str;
    }

    function isValid(string) {
        var re = /^[a-zA-Z!@#\$%\^\&*\)\(+=._-]{2,}$/g // regex here
        return re.test(removeAscent(string))
    }

    function validationName() {

        var input = document.getElementById("t1").value;
        if (input.length < 1) {
            document.getElementById("vali-name").innerHTML = "Bắt buộc!";
            return false;
        }
        if (isValid(input) == true && input.length >= 4) {
            document.getElementById("vali-name").innerHTML = " ";
            return true;

        }
        if ((isValid(input) == false && input.length >= 1) || (isValid(input) == true && input.length < 4)) {
            document.getElementById("vali-name").innerHTML = "Không khoả mãn";
            return false;

        }
    }

    function validationAccount() {
        var input = document.getElementById("t4").value;
        if (input.length < 1) {
            document.getElementById("vali-account").innerHTML = "Bắt buộc!";
            return false;
        } else {
            document.getElementById("vali-account").innerHTML = " ";
            return true;
        }
    }

    function validate() {
        if (validationPhone() == true && validationName() == true && validationAccount() == true && validationAddress() == true && validationPassword() == true && validationPassword2() == true) {
            return true;
        } else {
            return false;
        }
    }

</script>
</body>

</html>